body {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
.cadre {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    border: 10px solid black;
    box-sizing: border-box;
    display: flex;
}

.joueur1 {
    height: 100%;
    width: 50%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.joueur2 {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.joueur {
    font-family: 'Lato', sans-serif;
    font-size: larger;
    height: 4vh;
}

.current {
    height: 10vh;
    width: 10vw;
    text-align: center;
    line-height: 10vh;
    border-radius: 5px;
}

.un {
    background-color: white;
}

.deux {
    background-color: grey;
}

.rejouer {
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 10vh;
    width: 10vh;
    text-align: center;
    line-height: 5vh;
}

.de {
    background-color: red;
    color: white;
    height: 10vh;
    width: 10vh;
    position: absolute;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.lancer {
    position: absolute;
    bottom: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    border-radius: 2px;
    height: 5vh;
    width: 10vh;
    text-align: center;
    line-height: 5vh;
}

.tenir {
    position: absolute;
    bottom: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    border-radius: 2px;
    height: 5vh;
    width: 10vh;
    text-align: center;
    line-height: 5vh;
}

.total {
    font-family: Lato;
    font-size: 30px;
    color: black;
}

.entete1 {
    display: flex;
}

.entete2 {
    display: flex;
}

.ein {
    background-image: url('../Jeude/face/ein.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.zwei {
    background-image: url('../Jeude/face/zwei.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.drei {
    background-image: url('/Jeude/face/drei.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.vier {
    background-image: url('../Jeude/face/vier.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.funf {
    background-image: url('../Jeude/face/funf.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.sechs {
    background-image: url('../Jeude/face/sechs.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 11vh;
    width: 11vh;
    border-radius: 5px;
}

.actif {
    height: 1vh;
    width: 1vh;
    background-color: red;
    border-radius: 50%;
}

.encadre {
    display: flex;
    height: 3vh;
    align-items: center;
}